.task {
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, .2);
  margin: 0 0 8px;
  padding: 16px;

  a {
    text-decoration: none;
  }

  &:last-child {
    margin-bottom: 0;
  }


  h3 {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }
}


.issue--location {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  margin-bottom: 4px;
}

.issue--assignee {
  color: rgba(0, 0, 0, 0.66);
  font-size: 14px;
  margin-top: 16px;

  a,
  strong {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
  }
}

.issue--number {
  color: rgba(0, 0, 0, 0.33);
}

.issue--repo {
  color: rgba(0, 0, 0, 0.66);
}
