.button {
  align-items: center;
  background: #57bd35;
  border: 1px solid #40a624;
  border-radius: 5px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, .2),
              inset 0 -2px 0 rgba(0, 0, 0, .2);
  color: #FFF;
  cursor: pointer;
  display: flex;
  font-family: 'Fira Sans', sans-serif;
  font-size: 27px;
  font-weight: 500;
  height: 64px;
  margin: 0 auto 0 0;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 2px 0 rgba(0, 0, 0, .1);
  transition: background 150ms ease-out;

  &:focus,
  &:hover {
    background: #40a624;
    border-color: #399320;
  }

  &:active {
    background: #399320;
    border-color: #2e761a;
  }
}
