@import '../../util.scss';

.task-filters {
  margin: 0 32px 0 0;
  padding: 0;
  width: 224px;

  @include medium {
    width: 164px;
  }

  @include small {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 0;
    width: 100%;
  }

  section {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 24px;
    }

    @include small {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 24px;
      }
    }
  }

  h2 {
    color: #23CCE0;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 16px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-top: 24px;
  }

  a {
    color: #FFF;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    min-height: 16px;
    opacity: 0.6;
    padding-left: 36px;
    text-decoration: none;
    transition: opacity 175ms ease-in;

    &:hover {
      opacity: 0.85
    }

    &.task-filters--current {
      opacity: 1;
    }
  }

  .task-filters--back {
    @include back-button();
    margin-bottom: 24px;
    opacity: 1;
    padding: 0;

    @include small {
      width: 40%;
    }
  }
}

.task-filters--reset {
  background: none;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  display: block;
  margin-bottom: 24px;
  opacity: 0.66;
  max-width: 150px;
  padding: 8px 0;
  transition: opacity 175ms ease-in;
  width: 100%;

  @include small {
    max-width: 40%;
    width: 40%;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 1;
  }
}

.task-filters--select {
  @include small {
    width: 40%;
  }
}
