.label {
  border-radius: 3px;
  color: #FFF;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  margin-right: 4px;
  padding: 2px 14px;
  transition: opacity 150ms ease-out;

  &:last-child {
    margin-right: 0;
  }

  span {
    display: inline-block;
    padding: 2px 6px;

    &:first-child {
      padding-left: 10px;
    }

    &:last-child {
      padding-right: 10px;
    }
  }
}

.label--project {
  background: #A47F00;
}

.label--skill {
  background: #737373;
}
