@import url('https://code.cdn.mozilla.net/fonts/fira.css');
@import '../../util.scss';
@include global;

.wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 30px;
  width: 100vw;

  &.wrapper--blue {
    background: #1e4488;
  }

  .wrapper--inner {
    max-width: 1000px;
  }
}
