@import url('https://code.cdn.mozilla.net/fonts/fira.css');
@import '../../util.scss';
@include global;

.wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 30px;
  width: 100vw;

  &.wrapper--blue {
    background: url('../../containers/app/img/stars.png') no-repeat top center,
                #1e4488 radial-gradient(ellipse 250% 100% at center 140%, #737ffd 0, #0065b8 50%, #1e4488 100%) top;
    background-size: 1180px 346px, 100% 100%;
  }

  .wrapper--inner {
    max-width: 1000px;
  }
}
