@import url('https://code.cdn.mozilla.net/fonts/fira.css');
@import '../../util.scss';
@include global;

.wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
