@import '../../util.scss';

.tasks--view {
  align-items: flex-start;
  display: flex;

  @include small {
    flex-direction: column;
  }
}

.tasks--empty,
.tasks--error {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.8);
  flex: 1;
  font-weight: 300;
  margin: 0;
  padding: 32px;
  text-align: center;

  a {
    color: #FFF;
    font-weight: 400;
    text-decoration: none;
  }
}
