@keyframes slideIn {
  0% {
    transform: translateX(100%) translateX(-15%) rotate(-20deg);
  }
  66% {
    transform: translateX(-3%) translateX(0) rotate(3deg);
  }
  100% {
    transform: translateX(0%) rotate(0deg);
  }
}

@keyframes bob {
  0% {
    transform: translateY(0%) rotate(0deg);
  }
  100% {
    transform: translateY(-4%) rotate(-3deg);
  }
}

.intro {
  align-items: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 24px;
  padding: 24px 0;
  position: relative;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0, 0, 0, .3);
  max-width: 650px;

  .copter {
    animation: 3000ms ease-in-out 0s 1 bob;
    animation-delay: 1000ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    &:before {
      animation: 750ms ease-in-out 0s 1 slideIn;
      background: url('./img/copter.png') no-repeat center;
      background-size: auto 100%;
      content: '';
      display: block;
      height: 141px;
      width: 175px;
    }
  }

  h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
  }

  p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    margin: 16px 0 24px;
  }

  .button {
    margin: 0 auto;
    min-width: 265px;
  }
}
