@import '../../util.scss';

.docs-intro {
  @include full-width;

  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.3);
  padding: 32px 16px;

  h2 {
    font-size: 40px;
    font-style: italic;
    margin: 0 0 24px;
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    @include medium {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @include small {
      justify-content: center;
    }
  }
}
