@import '../../util.scss';

.docs-intro {
  @include full-width;

  background: #EEE;
  padding: 16px;

  h2 {
    font-size: 40px;
    font-style: italic;
    margin: 0 0 24px;
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;

    @include large {
      flex-wrap: wrap;
    }
  }
}
