@import '../../util.scss';

.docs-intro-link {
  align-items: stretch;
  display: flex;
  width: 24%;

  @include medium {
    width: 45%;
  }

  @include small {
    max-width: 300px;
    width: 100%;
  }

  a {
    background-repeat: no-repeat;
    background-position: center 32px;
    background-size: 38px 37px;
    border-radius: 6px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 96px 8px 32px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    transition: all 150ms ease-out;
    width: 100%;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    h2 {
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.24;
      margin: 0;
    }

    p {
      font-size: 13px;
      line-height: 1.54;
      margin: 16px 0 0;
    }
  }
}
