.docs-intro-link {
  align-items: stretch;
  display: flex;
  flex: 1;

  a {
    background: url('./img/testpilot.svg') no-repeat center 30px;
    background-size: 64px;
    border-radius: 6px;
    display: block;
    padding: 112px 18px 18px;
    text-align: center;
    text-decoration: none;
    transition: all 150ms ease-out;
    width: 100%;

    &:hover {
      background-color: #D8D8D8;
      color: #222;
    }

    h2 {
      color: #4A4A4A;
      font-size: 20px;
      font-style: normal;
      margin: 0;
    }

    p {
      color: #757575;
      font-size: 13px;
      margin: 8px 0 0;
    }
  }
}
