@import '../../util.scss';

.docs-intro-link {
  align-items: stretch;
  display: flex;

  @include large {
    width: 33%;
  }

  @include medium {
    width: 50%;
  }

  @include small {
    width: 100%;
  }

  a {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    transition: all 150ms ease-out;
    width: 100%;

    &:hover {
      background-color: #D8D8D8;
      color: #222;
    }

    h2 {
      color: #4A4A4A;
      font-size: 20px;
      font-style: normal;
      margin: 0;
    }

    p {
      color: #757575;
      font-size: 13px;
      margin: 8px 0 0;
    }
  }
}
