@import '../../util.scss';
@import url('https://code.cdn.mozilla.net/fonts/fira.css');

@include global;

.app {
  background: url('./img/stars.png') no-repeat top center,
              #1e4488 radial-gradient(ellipse 250% 100% at center 140%, #737ffd 0, #0065b8 50%, #1e4488 100%) no-repeat top;
  background-size: 1180px 346px, 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 100vh;

  main {
    flex: 1;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 12px
  }
}
