@import '../../util.scss';

.skill-intro {
  h2 {
    @include intro-header;
  }

  ul {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }
}

.skill-intro--item {
  display: flex;
  margin: 0 0 25px 25px;
  min-width: 200px;
  text-align: center;
  width: 30%;

  &:nth-child(3n-2) {
    margin-left: 0;
  }

  a {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 2px;
    box-shadow: 0;
    color: #FFF;
    padding: 224px 32px 32px;
    text-decoration: none;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    transition: all 150ms ease-out;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      opacity: 1;
    }
  }

  h3 {
    font-size: 24px;
    margin: 0 0 8px;
  }

  p {
    font-size: 14px;
    margin: 0;
  }
}
