// Allows a child of a fixed-width parent to be full width.
@mixin full-width {
  box-sizing: border-box;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;

  > * {
    margin: 0 auto;
    max-width: 1100px;
  }
}

@mixin intro-header {
  align-items: center;
  color: #FFF;
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 48px;
  padding: 64px 0 24px;
  position: relative;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0, 0, 0, .3);

  &:after {
    background: #FFF;
    border-radius: 2px;
    content: '';
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -75px;
    width: 150px;
  }
}

@mixin text-replacement {
  display: inline-block;
  overflow: hidden;
  text-indent: -999em;
}

@mixin global {
  *,
  :after,
  :before {
    box-sizing: inherit
  }

  body,
  html {
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
  }

  body {
    font: 16px/1.375 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
  }
}
