// Allows a child of a fixed-width parent to be full width.
@mixin full-width {
  box-sizing: border-box;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;

  > * {
    margin: 0 auto;
    max-width: 1100px;
  }
}

@mixin text-replacement {
  display: inline-block;
  overflow: hidden;
  text-indent: -999em;
}

@mixin global {
  *,
  :after,
  :before {
    box-sizing: inherit
  }

  body,
  html {
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
  }

  body {
    font: 16px/1.375 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
  }
}
